html {
    font-size: 100%;
    margin: auto;
}

body {
    width: 100%;
    margin: auto;
    padding: 20px 12px;
    line-height: 28px;
    font-family: sans-serif;
    color: #444;
    position: relative;
}

.wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hoa-anh-dao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
}

.contents {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(50, 48, 48);
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: -10px;
}

h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 8px 0;
}

select {
    font-size: 14px !important;
}

input,
select,
button {
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    outline: transparent;
    padding: 0 10px;
}

input:focus,
select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

button {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    background-color: #009688;
    padding: 20px;
}

.heading-class {
    display: flex;
    flex-direction: row;
    align-items: center; /* Thêm để căn chỉnh giữa */
}

.heading-class-item {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    border-radius: 8px;
    padding: 8px;
    width: 100px; /* Đặt kích thước giống như của ô select bài học */
    text-align: center; /* Căn giữa chữ */
    border: transparent;
}

.heading-class-desciption {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    border-radius: 8px;
    padding: 8px;
    color: #ffcc00;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

#manager-option {
    margin-bottom: 20px;
}

.manager-core-table,
.manager-class,
.manager-insert-core,
.manager-student {
    padding-bottom: 40px;
}

.table-class-wrapper {
    background-color: whitesmoke;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 20px;
}

#student-table th {
    color: #000000;
    font-weight: 700;
}

.table-class-wrapper-heading,
.list-student-table-heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.table-wrapper {
    width: 100%;
    line-height: 20px;
}

.table-wrapper__score-student th:nth-child(1),
.table-wrapper__score-student td:nth-child(1) {
    background-color: transparent;
}

.table-wrapper__score-student th:nth-child(3),
.table-wrapper__score-student td:nth-child(3),
.table-wrapper__score-student th:nth-child(4),
.table-wrapper__score-student td:nth-child(4) {
    max-width: 60px;
}

.table-wrapper__score-student th {
    font-weight: 700;
    background-color: rgb(207, 204, 255) !important;
    font-size: 90%;
}

.table-wrapper__score-student {
    width: 100%;
}

.list-students {
    background-color: whitesmoke;
    padding: 14px;
    border-radius: 12px;
    margin: 20px 0;
}

.list-students-filter {
    display: flex;
    justify-content: start; /* Sử dụng space-between để các phần tử có không gian đều nhau */
    align-items: end;
    gap: 10px;
    margin: 10px 0;
}

.list-student-select-item {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 1;
}

.list-student-select-item-lable {
    width: 100%;
    height: auto;
    font-size: 76%;
}

.list-student-table {
    line-height: 20px;
    width: 100%;
}

.list-student-table th {
    margin: auto 0;
    font-weight: 700;
}

.list-student-table th:nth-child(4) {
    /* text-align: left; */
}

/* Điều chỉnh style của các icon */
.fa-solid {
    /* margin-left: 4px;
    margin-right: 2px; */
    transition: transform 0.3s ease;
}

.list-student-table td,
#class-table {
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.4s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInRight;
}

.list-student-table th:nth-child(2),
.list-student-table td:nth-child(2) {
    text-align: left;
}

.list-student-table th,
.list-student-table th:nth-child(1),
.list-student-table td:nth-child(1) {
    background-color: rgb(233, 233, 233);
}

.date-space-mobile {
    display: inline !important;
}

#scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    transform: translateX(120px);
    background-color: #ff9d0037;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #333;
    transition: 1s;
    z-index: 10000;
}

#scroll-to-top-btn i {
    color: red;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 1px;
}

#scroll-to-top-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.manager-class-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tạo 2 cột bằng nhau */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.manager-student-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tạo 2 cột bằng nhau */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.manager-student-options-btn,
.manager-class-options-btn {
    border: solid 1px #ffcc00;
    background-color: transparent;
    width: 100%;
    transition: all 0.3s;
    overflow: hidden;
    letter-spacing: 0px;
    letter-spacing: 0px;
}

.manager-student-options-btn.active,
.manager-class-options-btn.active {
    background-color: #ffe1bd;
    font-weight: 700 !important;
}

.manager-student-form,
.manager-class-form {
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.4s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInRight;
}

.error {
    color: red !important;
}

.warming {
    color: brown !important;
}

/* MODAL LOADING */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000001; /* Ensure it is on top of other elements */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.661);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    border-top: 3px solid #00ff15;
    border-right: 3px solid #00ff15;
    border-radius: 50%;
    animation: animateC 0.8s linear infinite;
}
.ring-span {
    display: block;
    position: absolute;
    top: calc(50%);
    left: 50%;
    width: 100px;
    height: 100px;
    background: transparent;
    transform-origin: left;
    animation: animateC 0.8s linear infinite;
}
.ring-span:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00ff15;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #00ff15;
}
.ring-span1 {
    display: block;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    transform-origin: left;
    animation: animateC 0.8s linear infinite;
}
.ring-span1:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 27, 27);
    top: 100%;
    right: 100%;
    box-shadow: 0 0 20px red;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        transform: 0.8;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* ADD SCORE */

.heading-lesson {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center; /* Thêm để căn chỉnh giữa */
}

.heading-lesson-title {
    margin: auto;
    margin-right: 10px;
    color: #fff;
}

.heading-lesson-input {
    width: 80px; /* Kích thước giống như của ô input lớp học */
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 11px;
    border: transparent;
}

.rank-item {
    display: flex;
    flex-direction: column;
}

.rank-item-title {
    margin-top: 10px;
    margin-right: 8px;
}

.rank-item-name {
    margin-left: 20px;
    /* margin-top: -16px; */
    /* line-height: 40px; */
}

.rank-item-name__max {
    color: #1f884f;
}

.rank-item-name__min {
    color: #d30000;
}

.rank-item-name__no-test {
    color: #bc9700;
}

.add-item-title {
    min-width: 100px;
    margin-bottom: 4px;
}

.add-item-input {
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px goldenrod;
    border-radius: 8px;
    padding: 2px 14px;
    align-items: center;
    outline: none;
}

.btn {
    width: 100%;
}

.input-disable {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
}

.score-input,
.error-input {
    width: 80px;
    border: solid 1px goldenrod;
}

.input-stt {
    width: 35px;
}

.created-at {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

#score-created-at {
    font-weight: 500;
    color: #333;
    font-style: italic;
}

.table {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
th:first-child,
td:first-child {
    font-weight: 700;
    background-color: #f8f9fa;
    width: 30px;
}
td {
    height: 45px;
}

th,
td {
    text-align: center;
}

.manager-btn {
    display: inline-block;
    background-color: bisque;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 14px;
    border-style: dashed;
}

a {
    color: #000000; /* Thay đổi màu mặc định của liên kết */
    text-decoration: none; /* Xóa gạch dưới nếu không cần */
}

a:hover {
    opacity: 0.7; /* Màu khi di chuột qua */
    transition: all 0.3s ease-in-out;
}

a:focus {
    outline: none; /* Loại bỏ viền khi liên kết nhận focus */
}

.manager-files {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
}

.file-items {
    width: auto;
    display: flex;
}

.file-heading {
    color: #fff;
    width: 30%;
    line-height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #782c2c;
    padding: 10px;
    border-radius: 10px;
}

.file {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding: 0;
    margin: 0;
}

.file-item {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 6px 0;
    align-items: center;
}

.file-item:first-child {
    margin-top: 0;
}

.file-item:last-child {
    margin-bottom: 0;
}

.file-link {
    width: calc(100% - 8px);
    height: auto;
    margin-left: 8px;
    padding: 10px 20px;
    background-color: #64989f; /* Màu nền */
    color: white; /* Màu chữ */
    text-align: center;
    text-decoration: none;
    border-radius: 999px; /* Bo tròn các góc */
    transition: background-color 0.3s;
    text-transform: capitalize;
}

.disabled {
    pointer-events: none; /* Ngăn chặn mọi tương tác */
    cursor: not-allowed; /* Thay đổi con trỏ chuột thành biểu tượng không được phép */
    opacity: 0.6; /* Giảm độ trong suốt */
    background-color: #333;
    color: #fff;
}

/* MODAL LOGIN */
/* Overlay to blur the background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Modal styles */
.modal-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Higher than the overlay to ensure it's on top */
}

.modal-login > button {
    max-width: 200px;
}

/* Modal title */
.modal-login-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}

/* Modal description */
.modal-login-description {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

/* Modal input */
.modal-login-input {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Button styles */
.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}

.manager-core-table {
    display: flex;
    flex-direction: column;
}

.btn-success {
    font-size: inherit;
}

.max-score {
    position: relative;
}

.max-score:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border: 1.5px solid transparent; /* Mặc định là trong suốt cho tất cả */
    border-top-color: #00ff15; /* Cạnh trên có màu xanh lá */
    border-bottom-color: #00ff15;
    border-radius: 50%;
    animation: animateD 1.5s linear infinite;
}

.min-score {
    position: relative;
}

.min-score:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    border: 1.5px solid transparent; /* Mặc định là trong suốt cho tất cả */
    border-top-color: red; /* Cạnh trên có màu xanh lá */
    border-bottom-color: red;
    border-radius: 50%;
    animation: animateD 1.5s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes animateD {
    from {
        transform: translate(-50%, -50%) rotate(-360deg); /* Kết hợp translate và rotate */
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg); /* Kết hợp translate và rotate */
    }
}

.manager-class-log-book {
    line-height: 18px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.log-book-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.log-book-option-btn,
.manager-student-options-btn {
    border: solid 1px #ffcc00;
    background-color: transparent;
    color: #333;
    font-weight: 400 !important;
    width: 100%;
    transition: all 0.3s;
    overflow: hidden;
    padding: 0 4px;
    letter-spacing: 0.8px;
}

.log-book-option-btn.active,
.manager-student-options-btn.active {
    background-color: #ffe1bd;
    font-weight: 700 !important;
}

.log-book-option-item {
}

.log-book-today {
}

.log-book-today-class {
    border: dashed 1px #333;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: auto;
    box-shadow: 2px 2px 6px #888;
    background-color: #fef5e5;
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    position: relative;
}

.log-book-date {
    min-width: 100px;
    background-color: inherit !important;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 700;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-book-date-item__absent > i {
    width: auto;
}

.log-book-date-item {
    align-items: center;
    background-color: #d5eef9;
    border: solid 0.5px #999;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    width: auto;
    overflow: hidden;
}

.log-book-date-item + .log-book-date-item {
    margin-left: 10px;
}

.log-book-heading {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.log-book-heading-item {
}

.log-book-today-class-item {
}

.log-book-content-wrapper {
    background-color: #f0f0f0;
    border: solid 0.5px #999;
    border-radius: 10px;
    margin: 4px 0;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.log-book-content-wrapper + .log-book-content-wrapper {
    margin-left: 10px;
}

.log-book-contents {
}

.log-book-content {
    display: flex;
}

.log-book-content-heading {
    font-weight: 700;
}

.log-book-content-list {
    padding-left: 0;
}

.log-book-content-list-item {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
}

.log-book-content-list-item:last-child {
    margin-bottom: 0;
}

.log-book-content-list-item > span {
    display: block;
    margin-left: 15px;
    color: #880808;
    font-style: italic;
    font-size: 13px;
}

.log-book-content-lesson {
}

.log-book-write__date-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.today-btn {
    border-radius: 50px;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    margin-right: 0 !important;
    font-weight: 700 !important;
    border: solid 1px rgb(160, 136, 5);
}

.today-btn:hover {
    opacity: 0.8;
}

.log-book-write__dates,
.log-book-search__dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-book-write__date-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.log-book-search__dates {
    background-color: rgb(234, 234, 234);
    padding: 16px 16px 0 16px;
    border-radius: 10px;
}

.log-book-write__date-item:first-child,
.log-book-search__dates > .log-book-write__date-item {
    margin-right: 10px;
}

.log-book-write__dates > .log-book-write__date-item:last-child,
.log-book-search__dates > .log-book-write__date-item:last-child {
    margin-right: 0;
}

/* Vắng */
#log-book-write__absent {
    position: relative;
    margin-bottom: 0 !important;
}
.suggestions-list {
    position: absolute;
    width: auto;
    min-width: 250px;
    height: auto;
    max-height: 200px;
    overflow: scroll;
    border-radius: 8px;
    margin-top: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(152, 152, 152);
    color: #f7f5f5;
    z-index: 1000;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.suggestions-list li {
    padding: 8px 12px;
    left: 0;
    cursor: pointer;
}

.suggestions-list li:nth-child(odd) {
    background-color: rgb(162, 162, 162);
}

.suggestions-list li:hover {
    background-color: whitesmoke;
    color: #000000;
}

.selected-list {
    list-style: none; /* Sử dụng none để loại bỏ dấu chấm đầu dòng */
    padding: 0;
    margin: 0;
}

.write-absent {
    padding: 8px;
    background-color: #dddbdb;
    border-radius: 10px;
}

.absent-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
}

.absent-wrapper-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.absent-wrapper-item > label {
    /* font-size: 20px; */
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
}

.absent-wrapper-item > .permit-label {
    /* margin-right: 4px; */
}

/* .absent-wrapper-item > input {
    margin-right: 16px;
} */

.absent-wrapper-item__name {
    font-weight: 700;
    min-width: 25%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.selected-list li {
    padding: 8px;
    padding-bottom: 2px;
    margin: 8px 0;
    background-color: whitesmoke;
    border: solid 2px #dddbdb;
    border-radius: 10px;
}

.absent-counts {
    background-color: #f2f0f0;
    margin: 0 auto 6px;
    padding: 4px;
    border-radius: 999px;
    border: solid 3px #fff;
    max-width: 120px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.absent-count-title {
    margin-left: 8px;
}

.absent-count {
}

#log-book-write__reason {
    border-color: #666;
}
/* 
.selected-list li:first-child {
    margin-top: -14px;
} */

input[type="radio"] {
    width: 20px;
    height: 20px;
}

.remove-btn {
    width: auto;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px !important;
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;
}

.delete-btn {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 5px;
    /* transform: translateY(-50%); */
    right: 5px;
    padding: 10px;
    background-color: #000000;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}

.delete-btn:hover {
    background-color: #afafaf94;
    opacity: 1;
}
.delete-btn:hover i {
    color: red;
    transform: scale(1.1);
}

.delete-btn > i {
    width: auto !important;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.no-data {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data-img,
.default-message {
    width: 60%;
    height: 60%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    border-radius: 20px;
}

.default-message {
    animation: fadeIn 1s forwards;
}

/* Các lớp cho animation */
.slide-in-left {
    animation-name: slideInLeft;
}

.slide-in-right {
    animation-name: slideInRight;
}

/* RANK */
.manager-rank {
    line-height: 18px;
    padding-bottom: 100px;
}

.manager-rank-class {
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 10px;
}

.manager-rank-table {
    box-sizing: border-box;
}

.rank-select {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-top: 20px;
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInRight;
}

#rank-select-class {
    margin-left: 10px;
    width: 200px;
}

.rank-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 450px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInRight;
}

.rank-content::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 250%;
    height: 250%;
    background: linear-gradient(
            200deg,
            rgb(255 0 0 / 80%),
            rgb(255 0 0 / 0%) 70.71%
        ),
        linear-gradient(127deg, rgba(221, 0, 255, 0.8), rgb(255, 184, 5) 70.71%),
        linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%);
    transform: translate(-50%, -50%) rotate(0deg);
    animation: animateRotate 5s linear infinite;
    z-index: 1;
}

@keyframes animateRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.content-wrapper {
    display: block;
    min-height: 430px;
    max-height: 580px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    z-index: 2;
}

.rank-options {
    background-color: #e3e3e3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999; /* Cao để nằm trên các phần tử khác */
}

.rank-option-btn {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    width: auto;
    min-width: 200px;
    height: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;
    transition: 0.2s;
    text-transform: unset;
    margin-left: 8px;
}

.rank-option-btn:hover {
    background-color: #eeeeee;
    height: 34px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.rank-option-btn.active {
    position: relative;
    height: 34px;
    background-color: rgb(255, 255, 255);
    /* border-bottom: solid 1px #ffd000; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.rank-option-btn.active:first-child {
    animation: slideInRight 0.2s ease-in-out forwards;
}

.rank-option-btn.active:last-child {
    animation: slideInLeft 0.2s ease-in-out forwards;
}

.rank-option-btn.active::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-20%);
    width: 6px;
    height: 6px;
    background-color: #ff9900;
    border-radius: 50%;
}

.rank-option-btn.active::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-20%);
    width: 6px;
    height: 6px;
    background-color: #ff9900;
    border-radius: 50%;
}

.rank-table-detail-btn {
    margin: 0;
    padding: 0;
    width: 100px;
    border: none;
    color: #218838;
    transition: 0.2s;
}

.rank-table-detail-btn:hover {
    color: #00d74f;
    opacity: 0.7;
}

.manager-rank-table {
    position: relative; /* Bảng có position relative */
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 14px;
    margin: 10px;
    border: solid 1px #bababa;
    z-index: 1; /* Thấp hơn rank-options */
}

.manager-rank-table th {
    line-height: 32px;
    /* height: 52px; */
}

.manager-rank-table td,
.manager-rank-table th {
    border: none;
    border-bottom: solid 1px #bababa;
    text-align: center;

    padding: 4px;
    padding-left: 8px;
}

.manager-rank-table__absent {
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInRight;
}

.manager-rank-table__score {
    opacity: 0; /* Khởi tạo opacity là 0 */
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối */
    animation-name: slideInLeft;
}

.manager-rank-table__score td:last-child {
    text-align: right;
}

.manager-rank-table td:first-child,
.manager-rank-table th:first-child {
    width: 50px;
}

.manager-rank-table th:nth-child(2),
.manager-rank-table td:nth-child(2) {
    min-width: 200px;
    width: auto;
    /* max-width: 200px; */
    text-align: left;
}

.manager-rank-class th:nth-child(3),
.manager-rank-class td:nth-child(3) {
    width: 25%;
}

.manager-rank-table th:nth-child(2) {
    text-align: center;
}

.manager-rank-table-class th:nth-child(2),
.manager-rank-table-class td:nth-child(2) {
    min-width: 0;
    width: auto;
    max-width: 200px;
    text-align: center;
}

.manager-rank-table td:last-child {
    text-align: center;
    width: 10px;
    max-width: 10px;
}

.manager-rank-table-class td:last-child,
.manager-rank-table__score-detail td:last-child {
    text-align: center;
}

.manager-rank-table__absent-detail td,
.manager-rank-table__score-detail td {
    border-right: solid 1px #999;
}

.manager-rank-table__absent-detail td:last-child {
    text-align: left;
}

.manager-rank-table__score-detail td:last-child {
    text-align: center;
}

.manager-rank-table td:first-child {
    background-color: #e7e7e7;
}

.manager-rank-table th {
    background-color: #e7e7e7;
    font-weight: 700;
}

.hidden {
    display: none !important;
}

.absent-detail-info {
    color: #4f00c5;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
}

.absent-detail-info-heading {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    color: #e56300;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    padding: 10px 20px 5px;
    border-radius: 8px;
    font-size: 18px;
}

.absent-detail,
.score-detail {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.absent-detail {
    display: none;
}

.score-detail {
    display: none;
    animation-name: slideInLeft;
}

.download-pdf-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 999px;
    background-color: rgb(189, 211, 255);
    box-shadow: 0 1px 3px #666666;
}

.download-pdf-btn i {
    margin-left: 0;
}
