* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 75%;
}

body {
    margin: auto;
    padding: 20px 12px;
    font-family: sans-serif;
    color: #444;
    max-width: 764px;
}

.wrapper {
    display: block;
    margin-bottom: 50px;
}

.manager-core-table,
.manager-class,
.manager-insert-core,
.manager-student {
    padding-bottom: 40px;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(50, 48, 48);
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: -10px;
}

h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}

select {
    font-size: 14px !important;
}

input,
select,
button {
    line-height: 40px;
    height: 40px;
    width: auto;
    border-radius: 4px;
    outline: transparent;
    padding: 0 10px;
}

button {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    background-color: #009688;
    padding: 20px;
}

.heading-class {
    display: flex;
    flex-direction: row;
    align-items: center; /* Thêm để căn chỉnh giữa */
}

.heading-class-item {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    border-radius: 8px;
    padding: 8px;
    width: 100px; /* Đặt kích thước giống như của ô select bài học */
    text-align: center; /* Căn giữa chữ */
    border: transparent;
}

.heading-class-desciption {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    border-radius: 8px;
    padding: 8px;
    color: #ffcc00;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

#manager-option {
    margin-bottom: 20px;
}

.error {
    color: red !important;
}

/* MODAL LOADING */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Ensure it is on top of other elements */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.661);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    border-top: 3px solid #00ff15;
    border-right: 3px solid #00ff15;
    border-radius: 50%;
    animation: animateC 0.8s linear infinite;
}
.ring-span {
    display: block;
    position: absolute;
    top: calc(50%);
    left: 50%;
    width: 100px;
    height: 100px;
    background: transparent;
    transform-origin: left;
    animation: animateC 0.8s linear infinite;
}
.ring-span:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00ff15;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #00ff15;
}
.ring-span1 {
    display: block;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    transform-origin: left;
    animation: animateC 0.8s linear infinite;
}
.ring-span1:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 27, 27);
    top: 100%;
    right: 100%;
    box-shadow: 0 0 20px red;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        transform: 0.8;
    }
}

/* ADD SCORE */

.heading-lesson {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center; /* Thêm để căn chỉnh giữa */
}

.heading-lesson-title {
    margin: auto;
    margin-right: 10px;
    color: #fff;
}

.heading-lesson-input {
    width: 80px; /* Kích thước giống như của ô input lớp học */
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 11px;
    border: transparent;
}

.rank-item {
    display: flex;
    flex-direction: column;
}

.rank-item-title {
    margin-top: 10px;
    margin-right: 8px;
}

.rank-item-name {
    margin-left: 20px;
    margin-top: -16px;
    line-height: 40px;
}

.rank-item-name__max {
    color: green;
}

.rank-item-name__min {
    color: red;
}

.rank-item-name__no-test {
    color: #bc9700;
}

.add-item-title {
    min-width: 100px;
    margin-bottom: 4px;
}

.add-item-input {
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px goldenrod;
    border-radius: 8px;
    padding: 2px 14px;
    align-items: center;
    outline: none;
}

.btn {
    width: 100%;
}

.input-disable {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
}

.score-input,
.error-input {
    width: 80px;
    border: solid 1px goldenrod;
}

.input-stt {
    width: 35px;
}

.created-at {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

#score-created-at {
    font-weight: 500;
    color: #333;
    font-style: italic;
}

table {
    margin-bottom: 0 !important;
}

.table-light {
    --bs-table-color: #880808;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
td:first-child {
    font-weight: 700;
    background-color: #f8f9fa;
    width: 30px;
}
td {
    height: 40px;
}

th,
td {
    text-align: center;
}

.manager-btn {
    display: inline-block;
    background-color: bisque;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 14px;
    border-style: dashed;
}

a {
    color: #000000; /* Thay đổi màu mặc định của liên kết */
    text-decoration: none; /* Xóa gạch dưới nếu không cần */
}

a:hover {
    opacity: 0.7; /* Màu khi di chuột qua */
    transition: all 0.3s ease-in-out;
}

a:focus {
    outline: none; /* Loại bỏ viền khi liên kết nhận focus */
}

.manager-files {
    width: auto;
    display: flex;
    flex-direction: column;
}

.file-items {
    width: auto;
    display: flex;
}

.file-heading {
    color: #fff;
    width: 30%;
    line-height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #782c2c;
    padding: 10px;
    border-radius: 10px;
}

.file {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding: 0;
    margin: 0;
}

.file-item {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 6px 0;
    align-items: center;
}

.file-item:first-child {
    margin-top: 0;
}

.file-item:last-child {
    margin-bottom: 0;
}

.file-link {
    width: calc(100% - 8px);
    height: auto;
    margin-left: 8px;
    padding: 10px 20px;
    background-color: #64989f; /* Màu nền */
    color: white; /* Màu chữ */
    text-align: center;
    text-decoration: none;
    border-radius: 999px; /* Bo tròn các góc */
    transition: background-color 0.3s;
    text-transform: capitalize;
}

.disabled {
    pointer-events: none; /* Ngăn chặn mọi tương tác */
    cursor: not-allowed; /* Thay đổi con trỏ chuột thành biểu tượng không được phép */
    opacity: 0.6; /* Giảm độ trong suốt */
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .file-items {
        flex-direction: column;
    }
    .file-heading {
        width: 100%;
        line-height: 20px;
        margin-bottom: 14px;
    }
    .file {
        width: 100%;
    }
    .file-link {
        width: 100%;
        margin-left: 8px;
    }
    .file-link:first-child {
        margin-left: 0;
    }
}

/* MODAL LOGIN */
/* Overlay to blur the background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Modal styles */
.modal-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Higher than the overlay to ensure it's on top */
}

.modal-login > button {
    max-width: 200px;
}

/* Modal title */
.modal-login-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}

/* Modal description */
.modal-login-description {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

/* Modal input */
.modal-login-input {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Button styles */
.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}

.manager-core-table {
    display: flex;
    flex-direction: column;
}

.btn-success {
    font-size: inherit;
}
